<nav class="navbar">
  <div class="container nav-wrapper ">
    
    <div class="logo">
      <img src="assets/WhatsApp_Image_2026-02-10_at_6.42.06_PM-removebg-preview.png" alt="">

    </div>

    <ul class="nav-links" id="navLinks">
      <li><a href="#" data-page="home" class="active">HOME</a></li>
      <li><a href="#" data-page="events">EVENTS</a></li>
      <li><a href="#" data-page="conferences">CONFERENCES</a></li>
      <li><a href="#" data-page="board">OUR BOARD</a></li>
      <li><a href="#" data-page="contact">CONTACT US</a></li>
      <li><a href="#" class="nav-btn join-btn">JOIN US</a></li>
    </ul>

    <div class="menu-toggle" id="menuToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
</nav>


