.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100px;
  background: var(--primary);

}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo img {
  width: 100px;

}



/* Links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  color: #ffff;
}
.nav-links a:hover {

  color: var(--accent);
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: var(--text);
  transition: 0.3s;
}



/* Button */


/* Burger */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

}

.menu-toggle span {
  width: 26px;
  height: 3px;
  background: #ffff;
  border-radius: 3px;
  transition: 0.3s;
}

/* Responsive */
@media (max-width: 900px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: fixed;
    inset: 72px 0 0 0;
    background: #25080090;
    margin-top: 25px;
    flex-direction: column;
    padding-top: 40px;
    transform: translateX(100%);
    transition: 0.35s ease;
    color: #ffff;
  }

  .nav-links.active {
    transform: translateX(0);
  }
}